<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Spam Email Detector</title>


</head>
<body>
    <h1>Spam Email Detector</h1>

    <p>Paste an email below to check whether it is spam or ham</p>
    
    <textarea id="emailText" placeholder="Paste Email here..."></textarea>

    <br><br>

    <button onclick="checkEmail()">Check Email</button>

    <h2 id="result"></h2>


    <script>
        async function checkEmail() {
            // get email from the text box
            const email = document.getElementById("emailText").value;

            // sending email to flask api
            const response = await fetch("/predict", {
                method: "POST",

                headers: {
                    "Content-Type": "application/json"
                },

                body: JSON.stringify({
                    email: email
                })

            });

            // receiving the repsonse from flask
            const data = await response.json();

            document.getElementById("result").textContent = 
                 "Prediction: " + data.prediction;
        }
    </script>
</body>
</html>